.selectors {
  position: absolute;
  top: 0;
  left: 10%;
  width: 30px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  outline: none;
}
.selector {
  background: #928581;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: 12px 0;
  opacity: 0.6;
  cursor: pointer;
  transition: background .3s ease-in-out, opacity .3s ease-in-out;
}
.selector:hover,
.selector.active {
  background: white;
  opacity: 0.9;
}

section.wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: background-image 500ms ease-in-out;
}

aside.panel {
  width: 50%;
  height: 100%;
  color: white;
  transition: background 500ms ease-in-out;
  font-weight: 600;
  margin-left: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  text-align: left;
}

aside.panel .tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3.5rem;
}
aside.panel .tags img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
aside.panel .tags div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;
}
aside.panel h2.panel-header,
aside.panel p.panel-info {
  margin: 0;
  padding: 1.3rem 3.5rem;
}
aside.panel h2.panel-header {
  font-weight: normal;
  font-size: 60px;
  text-transform: capitalize;
  color: white;
}
aside.panel p.panel-info {
  font-size: 1.2rem;
  line-height: 1.8em;
}
aside.panel button.panel-button {
  width: 210px;
  height: 60px;
  margin: 1.3rem 3.5rem;
  background: #FF4C00;
  color: white;
  cursor: pointer;
  font-size: 28px;
  outline: none;
  transition: all 0.5s ease-in-out;
}
aside.panel button.panel-button:hover {
  background-color: white;
  color: #FF4C00;
}
aside.panel button.panel-button:focus {
  outline: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.upSlideButton, .downSlideButton {
  width: 60px;
  height: 60px;
  background-color: #45312B;
  border-radius: 50%;
  margin: 30px 0;
  padding: 0;
  opacity: 0.6;
}

.upSlideButton img, .downSlideButton img {
  width: 34px;
}

.cashAmount {
  font-size: 32px;
  padding: 0 3.5rem;
}
